html {
	font-size: 125%;
	font-family: "Roboto", sans-serif;
}

html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

figcaption,
figure,
main {
	display: block;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: inherit;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

dfn {
	font-style: italic;
}

mark {
	background-color: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

audio,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

img {
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	display: inline-block;
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details,
menu {
	display: block;
}

summary {
	display: list-item;
}

canvas {
	display: inline-block;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
	margin: 0;
	padding: 0;
}

h1 {
	padding: 10px 20px;
	font-size: 5rem;
	font-weight: 700;
}

.introParagraph {
	padding: 2rem 2rem;
	width: 65%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.introParagraph p {
	letter-spacing: 1.5px;
	text-align: center;
	padding: 5px 20px;
}

.ButtonBox {
	display: flex;
	flex-direction: column;
}

.linkToUserInputPage,
.submitButton,
.LinkToDashboard {
	background-color: #17202a;
	color: #ffffff;
	margin: 20px;
	border: none;
	padding: 1em 2em;
	text-transform: uppercase;
}

a:link {
	text-decoration: none;
}

.userInputIntro h2 {
	padding: 20px 0px;
}

.userInputIntro p {
	padding: 20px 0px;
}

.submit {
	margin: 20px 0px;
}

form {
	display: inline-flex;
	justify-content: space-around;
	align-items: center;
	text-align: right;
	margin: 5px auto;
	padding: 0 5px;
}

.forms {
	display: flex;
	flex-direction: row;
}

.logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.formMaster {
	display: flex;
	flex-direction: column;
	text-align: right;
	justify-content: flex-end;
	align-items: flex-end;
	margin-top: 40px;
}

.infoBox,
.addBox,
.nameBox,
.bioBox,
.occBox {
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.addBox,
.bioBox,
.occBox {
	max-width: 100%;
}

input,
.dropDown,
.message {
	border-radius: 5px;
	resize: none;
	text-align: center;
}

label {
	text-align: left;
}

.bioBox label {
	text-align: center;
}

.mpmain {
	text-align: left;
	margin: 30px auto;
}

.addNew {
	text-align: center;
	margin: 20px auto;
}

h3 {
	padding: 30px;
}

.MPForm {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.dashboard {
	display: flex;
	flex-direction: row;
}

.menu ul li {
	list-style: none;
	margin: 0;
}

.menu {
	width: 200px;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.menu ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	text-align: left;
}

.menu li {
	padding: 20px 0;
}
.menu li a {
	text-decoration: none;
	text-transform: uppercase;
	margin: 10px 0;
	color: #17202a;
	padding: 0 10px;
}

.menu li:hover {
	border: 1px solid #17202a;
}

.icon {
	padding: 0px 10px;
	color: #17202a;
}
.nirvanaLanding {
	display: flex;
	flex-direction: row;
}

.nirvanaLanding ul {
	display: flex;
	list-style: none;
	flex-direction: column;
	align-items: flex-start;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
	background-color: #ffffff;
	color: #17202a;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 1rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
	background-color: #ffffff;
}

/* Style the collapsible content. Note: hidden by default */
.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
}

.makePaymentButton {
	background-color: #17202a;
	color: #ffffff;
	margin: 20px;
	border: none;
	padding: 1em 2em;
	text-transform: uppercase;
}

.reqPaymentButton {
	background-color: #17202a;
	color: #ffffff;
	margin: 20px;
	border: none;
	padding: 1em 2em;
	text-transform: uppercase;
}

.listOfNotifications {
	text-align: left;
}

.listOfNotifications {
	text-align: left;
}

.listOfFullfilledPayments {
	text-align: left;
}

.mainBox {
	display: flex;
	flex-direction: row;
}

.notification {
	max-width: 60%;
}

.verification {
	max-width: 40%;
}

.topBar {
	display: flex;
	flex-direction: row;
}
.topBar .iconN {
	font-size: 30px;
	padding: 10px;
}

.icons {
	display: flex;
	flex-direction: row;
} /*# sourceMappingURL=styles.css.map */
