
.mpmain {
  text-align: left;
  margin: 30px auto;
}

.addNew {
  text-align: center;
  margin: 20px auto;
}

h3 {
  padding: 30px;
}

.MPForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}